* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.fixed-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: rgb(168, 228, 141);
}

.logo {
    flex: 1;
}

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0 12px;
    position: relative;
}

.menu>li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}

.sub-menu {
    position: absolute;
    width: 120px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 40px;
    transition: 0.3s;
    z-index: 10;
    background-color: rgb(253, 253, 253);
}

.sub-menu ul {
    padding-left: 10px;
}

.sub-menu li a {
    font-weight: normal;
    font-size: 12px;

}

.menu li a {
    font-size: 12px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}

.others {
    flex: 1;
    display: flex;
}

.others>li {
    padding: 0 12px;
}

.others>li:first-child {
    position: relative;
}

.others>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}

.others>li:first-child i {
    position: absolute;
    right: 12px;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 20px;
    transition: 2s;
    z-index: 1;

}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;


}

#Slider {
    overflow: hidden;
    width: 100%;
    height: 750px;
    bottom: 0;
}

.dot-container {
    position: fixed;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 4;
    bottom: 30px;

}

.dot {

    height: 15px;
    width: 15px;
    background-color: rgb(182, 181, 181);
    border-radius: 50%;
    margin-right: 8px;
}

.dot.active {
    background-color: rgb(59, 59, 59);
}

@media (min-width:680px) and (max-width: 1120px) {
    #Slider {
        height: 500px;
    }
}

@media (max-width:680px) {
    #Slider {
        height: 200px;
    }
}

/* -------------------------Category------------------------------------ */

.category-top {
    margin-bottom: 30px;
    display: flex;
}

.category-top p {
    padding-right: 5px;
    padding-left: 5px;
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.category .container {
    display: flex;
}

.category {
    padding: 100px 50px 0;
}

.category-left {
    width: 20%;
    margin-right: 30px;
}

.category-right {
    width: 80%;
    margin-left: 30px;

}

.category-right-top {
    display: flex;
}

.category-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);

}

.category-right-top-item {
    flex: 1;
    padding: 0 5px;
}

.category-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(182, 253, 253);
    border: 1px solid rgb(63, 62, 62);
    cursor: pointer;
    border-radius: 5px;
}

.category-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(182, 253, 253);
    border: 1px solid rgb(63, 62, 62);
    cursor: pointer;
    border-radius: 5px;
}

.category-right-content {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-right-content img {
    width: 250px;
}

.category-right-content-item {
    width: calc(25%-12px);
    text-align: center;
    padding: 12px 0;
}

.category-right-content-item h1 {
    font-size: 12px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #000;
}

.category-right-content-item p {
    font-size: 12px;
}

.category-right-bottom {
    float: right;
    margin: 25px 0 50px;
}

.category-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 14px;
}

.category-left ul li {
    padding: 12px 0;
}

.category-left ul li>a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.category-left ul li ul li {
    padding-left: 7px;
}

.category-left-li ul {
    display: none;
}

.category-left-li.block ul {
    display: block;
}

.category-left ul li ul li a {
    color: rgb(49, 48, 48);
    font-size: 14px;
    font-weight: lighter;
}

/*--------------- Product------------------- */
.product {
    padding: 100px 50px 0;
}

.product-top {
    margin-bottom: 30px;
    display: flex;
}

.product-top p {
    padding-right: 5px;
    padding-left: 5px;
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.product-content {
    display: flex;
    margin-bottom: 70px;
}

.product-content-left {
    width: 50%;
    display: flex;
}

.product-content-right {
    width: 50%;
    padding-left: 60px;
}


.product-content-left-big-img {
    width: 80%;
    padding-right: 20px;
}

.product-content-left-big-img img {
    width: 100%;
}

.product-content-left-small-img {
    width: 18%;
}

.product-content-left-small-img img {
    width: 100%;
    cursor: pointer;
}

.product-content-right-mau p {
    width: 25px;
    height: 25px;
    background-color: rgb(253, 85, 18);
    border-radius: 20px;
    border: 1px solid #000;
    margin-top: 3px;

}

.product-content-right-name h1 {
    font-family: var(--main-text-font);
    font-size: 20px;
    padding-bottom: 5px;
}

.product-content-right-name p {
    color: rgb(15, 15, 15);
    font-size: 12px;
}

.product-content-right-price {
    margin: 10px 0;
    font-size: 16px;
    font-family: var(--main-text-font);
}

.product-content-right-size {
    margin-top: 10px;
}

.product-content-right-size span {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid rgb(182, 181, 181);
    margin: 6px 10px 12px 0;
    cursor: pointer;
    color: rgb(6, 116, 116);
    border-radius: 1px;
}

.quantity {
    display: flex;
    margin-bottom: 7px;
    font-size: 16px;
}

.quantity input {
    width: 32px;
    height: 18px;
    font-size: 12px;
    color: rgb(24, 23, 23);
    padding-left: 2px;
    margin-left: 4px;
}

.product-content-right-button button {
    width: 120px;
    height: 30px;
    display: block;
    margin: 18px 0 12px;
}

.product-content-right-button button {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color: rgb(236, 232, 232);
    border: 2px solid #000;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.product-content-right-button button:hover {
    background-color: #000;
    color: #fff;
}

.product-content-right-icon {
    display: flex;
}

.product-content-right-icon-item {
    display: flex;
    padding-right: 20px;
    font-size: 14px;
}

.product-content-right-icon-item i {
    padding-right: 5px;
}

.product-content-right-bottom {
    margin-top: 20px;
    border-top: 1px solid rgb(172, 170, 170);
    position: relative;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(172, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 241, 241);
    top: -15px;
    left: 50%;
    border-radius: 20px;
    color: rgb(18, 27, 20);
    transform: translateX(-50%);
}

.product-content-right-bottom-content-title {
    display: flex;
    border-bottom: 1px solid rgb(155, 152, 152);
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.product-content-right-bottom-content-title-item {
    padding: 8px 60px;
    cursor: pointer;
    font-size: 15px;
    font-family: var(--main-text-font);
    color: #333;
}

.product-content-right-bottom-content p {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-top: 10px;
    color: #333;
}

.product-content-right-bottom-content-baoquan {
    display: none;
}

.active {
    display: none;
}

/* ---------------------- Cart---------------------- */

.cart {
    padding: 80px 0;
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 0.5px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 90px;
    background-color: rgb(207, 197, 197);
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(207, 197, 197);
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cart-top-cart {
    border: 1px solid rgb(243, 87, 204);
    color: rgb(243, 87, 204);
}

.cart-content {
    display: flex;
}

.cart-content-left {
    flex: 2;
    padding-right: 20px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
}

.cart-content-left table th {
    padding-bottom: 15px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    border-collapse: collapse;
    border-bottom: 2px solid rgb(243, 159, 159);
}

.cart-content-left table p {
    font-family: var(--main-text-font);
    font-size: 12px;
}

.cart-content-left table input {
    width: 30px;
    padding-left: 6px;
}

.cart-content-left table span {
    display: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding:2px 5px;
}
.cart-content-left table span:hover {
    color: rgb(226, 17, 17);
}
.cart-content-left table td {
    padding: 10px 0;
    border-bottom:2px solid rgb(243, 159, 159) ;
}
.cart-content-left td:first-child img {
    width: 100px;
}
.cart-content-right {
    flex: 1;
    padding-left: 40px;
    border-left: 1px solid rgb(146, 146, 146);
}
.cart-content-right table {
    width: 100%;
}
.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 18px;
    text-transform: uppercase;
    color:red;
}
.cart-content-right table td {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 5px 0;
}
.cart-content-right tr:nth-child(4) td {
    border-bottom: 2px solid #dddd;
}
.cart-content-right tr td:last-child {
    text-align: right;
    padding-right: 20px;
}
.cart-content-right-text {
    margin: 15px 0 30px;
    text-align: left;
    font-size: 13px;
}
.cart-content-right-button {
    text-align: center;
    align-items: center;   
}
.cart-content-right-button button {
    padding: 0 20px;
    height: 35px;
    cursor: pointer;
    margin-left: 20px;
}
.cart-content-right-button button:first-child{
    background-color: #ffff;
    border: 2px solid#000;
    color: #000;
}
.cart-content-right-button button:first-child:hover {
    background-color: black;
    color: #fff;
}
.cart-content-right-button button:last-child{
    background-color: #ffff;
    border: 2px solid#000;
    color: #000;
}
.cart-content-right-button button:last-child:hover {
    background-color:black;
    color: #fff;
}


/* ----------- Đăng nhập ------------- */

